.loveday-gen { 
width: 600px; 
margin-top: 40px;
border: 1px solid #e4e4e4;
background: linear-gradient(0deg,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
margin-bottom: -116px;
border-radius: 19px;
}
.dark-mode .loveday-gen {
width: 600px;
margin-top: 40px;
border: 1px solid #929292;
background: linear-gradient(0deg, rgb(64 8 39) 0%, rgb(22 18 24) 100%);
margin-bottom: -116px;
border-radius: 19px;
} 
.lovedayg-tit {
font-family: "DM Serif Display", serif; 
font-size: 43px; 
margin: 0 auto; 
font-weight: 900;
color: #9a55af; 
text-transform: uppercase; 
letter-spacing: 4px; 
text-align: center;
margin-top: 80px; 
margin-left: 8px;
text-shadow: 2px 2px 4px #ffffff;
}
.dark-mode .lovedayg-tit {
font-family: "DM Serif Display", serif;
font-size: 43px; 
margin: 0 auto; 
font-weight: 900; 
color: #92bed0; 
text-transform: uppercase;
letter-spacing: 4px; 
text-align: center;
margin-top: 80px; 
margin-left: 8px;
text-shadow: 2px 2px 4px #000000;
}
.lovedayg-text {
width: 443px;
font-family: "Montserrat", sans-serif;
text-align: justify;
font-size: 13px; 
line-height: 135%;
color: #454545; 
margin: 0 auto; 
background:transparent;
padding: 39px 32px;
border-radius: 15px;
} 
.dark-mode .lovedayg-text {
width: 443px; 
font-family: "Montserrat", sans-serif; 
text-align: justify;
font-size: 13px;
line-height: 135%; 
color: #949494;
margin: 0 auto;
background:transparent;
padding: 39px 32px; 
border-radius: 15px;
} 
.lovedayg-tit1 {
font-family:"Parisienne", cursive;
font-size: 36px;
color: #1d2966;
letter-spacing: 1px;
text-align: center;
margin-top: 18px;
opacity: 50%;
} 
.dark-mode .lovedayg-tit1 {
font-family:"Parisienne", cursive; 
font-size: 36px; 
color: #ffb8e8;
letter-spacing: 1px; 
text-align: center;
margin-top: 18px;
opacity: 50%;
} 
.lovedayg-text > u {
font: 900 19px 'Parisienne';
text-transform: lowercase;
text-decoration: none; 
color: #5f71a5;
padding: 2px;
letter-spacing: 1px;
-webkit-background-clip: text;
text-shadow: -1px 2px 2px #8a7bf7;
} 
.dark-mode .lovedayg-text > u {
font: 900 19px 'Parisienne';
text-transform: lowercase; 
text-decoration: none;
color: #bb81c4; 
padding: 2px;
letter-spacing: 1px; 
-webkit-background-clip: text;
text-shadow: -1px 2px 2px #944f76;
} 
.lovedayg-foto {
text-align: center;
width: 250px;
} 
.lovedayg-foto img {
margin: 13px 18px; 
width: 200px;
height: 350px; 
object-position: center;
overflow:hidden; 
outline: 2px solid #4545458a;
border: 7px solid rgb(0 0 0 / 0%);
border-radius: 100px 100px 0px 0px;
margin-left: -92px; 
margin-top: 38px;
float: left;
object-fit: cover;
}
.dark-mode .lovedayg-foto img {
margin: 13px 18px; 
width: 200px; 
height: 350px; 
object-position: center;
overflow:hidden;
outline: 2px solid #949494;
border: 7px solid rgb(0 0 0 / 0%);
border-radius: 100px 100px 0px 0px; 
margin-left: -92px;
margin-top: 38px;
float: left;
object-fit: cover;
} 
.lovedayg-info {
text-align: center;
width: 340px; 
margin: auto; 
padding: 5px 33px; 
font-family: "DM Serif Display", serif;
font-size: 14px;
color: #d6dcff; 
font-weight: 500;
letter-spacing: 1px;
text-transform: uppercase;
background: #7e8abb;
border-radius: 20px;
margin-top: 9px;
} 
.dark-mode .lovedayg-info {
text-align: center; 
width: 340px;
margin: auto;
padding: 5px 33px;
font-family: "DM Serif Display", serif;
font-size: 14px; color: #f5d2ec;
font-weight: 500;
letter-spacing: 1px;
text-transform: uppercase;
background: #573157;
border-radius: 20px;
margin-top: 9px;
}
